<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" >
	<test name="Test1">
		<parameter name="username" value="jayanthra@gmail.com"/>
		<parameter name="password" value="Eosouthasia@17"/>
		<classes>
			<class name="executionEngine.LoginTest">
			</class>
		</classes>
	</test> 
	
</suite> 